%p#notice= notice

%p
  %b Social net:
  = @ext_service.social_net
%p
  %b Consumer:
  = @ext_service.consumer

= link_to 'Edit', edit_ext_service_path(@ext_service)
\|
= link_to 'Back', ext_services_path
