= simple_form_for(@focalpoints_user) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user
    = f.association :focalpoint
    = f.input :access_level

  .form-actions
    = f.button :submit
