= form_for @social_nets_user do |f|
  - if @social_nets_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@social_nets_user.errors.count, "error")} prohibited this social_nets_user from being saved:"
      %ul
        - @social_nets_user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :social_net_name
    = select_tag(:social_net_id, options_for_select(SocialNet.all.pluck(:name, :id)),
      id: "social_nets_user", class: "select select2", data: {placeholder: "Choose a social net"})
    -#%div{placeholder: "Select social net", class: "select select2"}
    -#  = select(:social_net_user, :social_net, SocialNet.pluck(:name), {:include_blank => true})
  .actions
    = f.submit 'Save'
