= form_for @focalpoints do |f|
  - if @focalpoints.errors.any?
    #error_explanation
      %h2= "#{pluralize(@focalpoints.errors.count, "error")} prohibited this focalpoints from being saved:"
      %ul
        - @focalpoints.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    .col-sm-4
      .row
        = f.label :area, class: "sr-only"
        = f.text_field :area, placeholder: "Area"
      .row
        = f.label :name, class: "sr-only"
        = f.text_field :name, placeholder: "Name"
      .row
        = f.label :description, class: "sr-only"
        = f.text_field :description, placeholder: "Description"
      .row
        = f.collection_select :owner, options_for_select([current_user.username, current_user.groups.pluck(:name)])
      .row
        = f.label :visibility_level, class: "sr-only"
        = f.number_field :visibility_level
      .actions
        = f.submit 'Save'
