%p#notice= notice

%p
  %b Area:
  = @focalpoints.area
%p
  %b Name:
  = @focalpoints.name
%p
  %b Description:
  = @focalpoints.description
%p
  %b Owner:
  = @focalpoints.owner
%p
  %b Visibility level:
  = @focalpoints.visibility_level

= link_to 'Edit', edit_focalpoint_path(@focalpoints)
\|
= link_to 'Back', focalpoints_path
