= simple_form_for(@group) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.association :owner
    = f.input :visibility_level

  .form-actions
    = f.button :submit
