%p#notice= notice

%p
  %b Name:
  = @namespace.name
%p
  %b Description:
  = @namespace.description
%p
  %b Owner:
  = @namespace.owner
%p
  %b Type:
  = @namespace.type

= link_to 'Edit', edit_namespace_path(@namespace)
\|
= link_to 'Back', namespaces_path
