%h1 Listing broadcast_messages

%table
  %thead
    %tr
      %th Message
      %th Expire in
      %th Start at
      %th
      %th
      %th
      
  %tbody
    - @broadcast_messages.each do |broadcast_message|
      %tr
        %td= broadcast_message.message
        %td= broadcast_message.expire_in
        %td= broadcast_message.start_at
        %td= link_to 'Show', broadcast_message
        %td= link_to 'Edit', edit_broadcast_message_path(broadcast_message)
        %td= link_to 'Destroy', broadcast_message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Broadcast message', new_broadcast_message_path
