%p#notice= notice

%p
  %b Message:
  = @broadcast_message.message
%p
  %b Expire in:
  = @broadcast_message.expire_in
%p
  %b Start at:
  = @broadcast_message.start_at

= link_to 'Edit', edit_broadcast_message_path(@broadcast_message)
\|
= link_to 'Back', broadcast_messages_path
