= form_for @social_net do |f|
  - if @social_net.errors.any?
    #error_explanation
      %h2= "#{pluralize(@social_net.errors.count, "error")} prohibited this social_net from being saved:"
      %ul
        - @social_net.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :auth_api
    = f.text_field :auth_api
  .actions
    = f.submit 'Save'
