%head
  %meta{charset: "utf-8"}

  %meta{content: "Includia", name: "description"}

  %title
    = "#{title} | " if defined?(title)
    Incudia
  = favicon_link_tag 'favicon.ico'
  = stylesheet_link_tag    "application", :media => "all"
  = stylesheet_link_tag    "print", :media => "print"
  = javascript_include_tag "application"
  = csrf_meta_tags
  = include_gon
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

  = render 'layouts/google_analytics' if extra_config.has_key?('google_analytics_id')
