!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: interest_head_title
  %body{class: "interests", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    = render "layouts/flash"
    #wrap
      %header
        = render 'layouts/navigation'
      .container
        .row
          .col-sm-6.col-sm-offset-3.text-center
            = render 'layouts/messages'
        .row
          .col-sm-12
            = yield
    = render 'layouts/messages'
    = render 'layouts/footer'
