!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "Profile"
  %body{class: "profile", :'data-page' => body_data_page}
    = render "layouts/head", title: "profile: #{@current_user.name}"
    = render "layouts/broadcast"
    #wrap
      %header
        = render 'layouts/navigation'
        = render "layouts/nav/profile"
      .container
        .row
          .col-sm-6.col-sm-offset-3.text-center
            = render 'layouts/messages'
        .row
          .col-sm-12
            = yield

